body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hog-tile {
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.hog-tile:hover {
  transform: rotateY(180deg) scale(1.05);
}

.tile-front, .tile-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
}

.tile-front {
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);

}

.tile-front:hover {
  filter: grayscale(0%);
}

.tile-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.hog-tile {
  margin: 30px;
}

h4 {
  background: white;
}
